TIME_ZONE: UTC
REPORT_NAME: Your Name
REPORT_TEMPLATE: tech.md.erb
SLACK_TOKEN: XXX
SLACK_USER_NAME: your-slack-name
SLACK_TIMES_NAME: your-slack_times_channal
GITHUB_ID: user_name
GITHUB_ACCESS_TOKEN: Your Access Token
ESA_TEAM_NAME: startuptechnology
ESA_ACCESS_TOKEN: Your Access Token
CORP_ACCESS_TOKEN: Your Access Token

TRELLO_KEY: your-trello-key
TRELLO_SECRET: your-trello-secret
TRELLO_OAUTH_TOKEN: your-trello-token
TRELLO_BOARD_IDS: your-trello-board
